<div class="mainContainer">
    <div class="basketHead">
        <span>Warenkorb</span>
    </div>

    <div class="basketItems">
        <img src="assets/img/shopping_basket_black_24dp.svg">
        <span>Wähle leckere Gerichte aus der Karte und bestelle dein Menü.</span>
    </div>

    <div class="basketPrice">
        <div>
            <span>Zwischensumme</span>
            <span>€</span>
        </div>
        <div>
            <span>Versand</span>
            <span>€</span>
        </div>
        <div>
            <span style="font-weight: bold;">Gesamtpreis</span>
            <span style="font-weight: bold;">€</span>
        </div>

        <div class="btnContainer">
            <button>Bestellen</button>
        </div>

    </div>
</div>