.headContainer {
}

.headImg {
    background-image: url("../../assets/img/pizza-g69790c6c2_1280.jpg");
    width: calc(100% - 350px);
    height: 200px;
    background-position: center;
    background-size: cover;
}

.theLogo {
    width: calc(100% - 350px);
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.childCon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childImg {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #80808085;
    border-radius: 100%;
    background: white;
    img {
        height: 65px;
    }
}

.menuContent {
    width: calc(100% - 350px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    h2 {
        padding-left: 7rem;
    }
    div {
        padding-right: 7rem;
        img {
            height: 40px;
        }
    }
}

.menuCategory {
    height: 60px;
    width: calc(100% - 350px);
    background-color: #f5deb333;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        margin-right: 7rem;
        font-size: 22px;
    }
    div {
        span {
            padding-right: 3rem;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.foodBoxes {
    width: calc(100% - 350px);
}
.foodBoxChild {
    position: relative;
    border: 1px solid black;
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        height: 40px;
        padding: 5px;
        cursor: pointer;
    }
}
